.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo a{
  background: white;
  color: black;
  display: inline-block;
  font-family: var(--logo);
  font-weight: 800;
  font-size: 28px;
  padding: 2px .25em 2px 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__links ul {
  list-style: none;
}

.nav__links li {
  display: inline;
  padding: 0 1.5em 0 0;
}

.nav__links a {
  color: white;
  font-family: var(--body);
  font-weight: var(--regular);
  text-decoration: none;
}